.widget-container {
  display: inline-flex;
  position: absolute;
  padding: 12px;
  width: 20%;
  height: 480px;
  margin-left: -240px;
  margin-top: -10px;
  border: solid 2px grey;
  border-radius: 10px;
  background-color: rgba(249, 217, 143, 0.873);
  overflow: scroll;
  @media (max-width: 1242px) {
    margin-left: -200px;
    height: 400px;
  }
  @media (max-width: 1120px) {
    margin-left: -180px;
  }
  @media (max-width: 1080px) {
    margin-left: -160px;
  }
  @media (max-width: 950px) {
    margin-left: -140px;
  }
  @media (max-width: 850px) {
    margin-left: -130px;
  }
  @media (max-width: 790px) {
    margin-left: -115px;
  }
  @media (max-width: 710px) {
    margin-left: -100px;
  }
  @media (max-width: 650px) {
    margin-left: -95px;
  }
  @media (max-width: 580px) {
    display: none;
  }
  &-title-container {
    display: flex;
  }
  .widget-container-title {
    padding: 5px 5px;

    background-color: rgba(249, 217, 143, 0.75);
    border-radius: 10px;
  }
  .widget-container-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    background-color: rgb(238, 235, 235);
    border-radius: 10px;
    @media (max-width: 710px) {
      padding: 6px;
      font-size: 14px;
      margin-left: -5px;
    }
    @media (max-width: 650px) {
      font-size: 10px;
    }
  }
}
